name: CI

on:
  push:
    branches:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - run: npm ci

      - run: npm run lint

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - run: npm ci

      - run: npm run test:run
        env:
          CI: true

  build:
    runs-on: ubuntu-latest

    needs:
      - lint
      - test

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - run: npm ci

      - run: npm run build

      - run: npm run check-size

      - uses: JS-DevTools/npm-publish@v4
        if: github.ref_name == 'main'
        id: publish
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./package.json
          tag: latest
          access: public
          dry-run: false
          strategy: upgrade

      - run: npm pack

      - uses: actions/upload-artifact@v5
        with:
          name: artifact
          path: |
            *.tgz

  node-lts:
    runs-on: ubuntu-latest

    needs:
      - build

    strategy:
      matrix:
        example-directory:
          - ionic-capacitor-preferences
          - localforage-example
          - nuxt-3-universal-example
          - pinia-orm-example
          - quasar-example
          - vike-example
          - vue-3-example

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: artifact

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - run: |
          cd examples/${{matrix.example-directory}}
          npm ci
          npm add ../../*.tgz
          npm run build
